@media (max-width: 914px) {
  .container {
    height: 100%;
    background-color: white;
    margin: 30% 10%;
    /* padding: px; */
    border-radius: 10px;
    box-shadow: 4px 4px 5px #605656;
  }

  form {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
  }
}
